@charset "UTF-8";

/* 외부 CSS 불러오기 */
@import url(./reset.css);
@import url(./core.css);

/******************************** 상단 ********************************/
#header {
  position: relative;
  z-index: 20;
}

.header-group {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  font-size: 12px;
  padding: 10px;
  box-sizing: border-box;
  backdrop-filter: blur(3px);
  /* mix-blend-mode: difference; */
}

.header-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 55px;
}

/* 로고 */
.logo {
  position: absolute;
  top: 10px;
  left: 50%;
  translate: -50% 0;
}

.logo img {
  height: 58px;
}

/* gnb 메뉴 */
.nav-list {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-list > * {
  padding: 0 20px;
}

/* gnb-btn 숨김 */
.gnb-btn {
  display: none;
}

/* 오른쪽 메뉴 */
.right-menu {
  display: flex;
  height: 100%;
}

.menu-list {
  display: flex;
  align-items: center;
}

.menu-list > * {
  padding: 0 20px;
}

/* 메뉴 */
.side-menu {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  color: #000;
  background: #fff;
  padding-top: 80px;
  border-right: 1px solid #e0e0e0;
  z-index: 50;
  overflow-y: auto;
  transition: left 0.4s ease;
}

.side-menu.active {
  left: 0;
}

.side-menu-content {
  position: relative;
  display: flex;
  flex-direction: column;
  height: calc(100% - 110px);
  overflow-y: auto;
  padding: 0 0px 50px;
}

.list {
  border-top: 1px solid #e0e0e0;
}

.list > a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  padding: 14px 20px;
}

.list:last-child > a {
  border-bottom: 1px solid #e0e0e0;
}

.menu-sub-list {
  background: #f5f5f5;
  border-top: 1px solid #e0e0e0;
}

.menu-sub-list li > a {
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 20px;
}

/* 닫기 버튼 */
.close {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  font-family: pretendard;
  font-size: 15px;
  font-weight: 500;
  border: none;
  background: none;
  cursor: pointer;
   color: #222;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

/* SNS */
.sns {
  display: flex;
  gap: 10px;
  padding: 10px 20px 0;
  margin-top: auto;
}

.sns img {
  height: 20px;
}

/* search */
.search {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 50px;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(16px);
  transition: 0.3s;
  z-index: 30;
}

.search.active {
  display: block;
}

.search-content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-content span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 90px;
  color: #fff;
  line-height: 1;
  font-family: "Playfair Display";
}

/* search 입력창 */
.search-input-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 560px;
  height: auto;
  padding: 30px 0;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  background: none;
  border: 0;
  border-bottom: 1px solid #fff;
  outline: none;
}

.search-input::placeholder {
  color: #fff;
}

.search-btn {
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-family: pretendard;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  padding: 4px 11px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap;
  word-break: break-all;
  word-wrap: break-word;
}

/* search 닫기 버튼 */
.search-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 40px;
  padding: 4px 20px;
  font-family: pretendard;
  font-size: 20px;
  font-weight: 400;
  background: none;
  cursor: pointer;
  transition: 0.3s;
  word-break: break-all;
  word-wrap: break-word;
}

.search-close:hover {
  background: #fff;
  color: #000;
}

/******************************** 장바구니 ********************************/
.cartsec {
  padding: 100px 0;
}

.cart-part {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  min-height: 80vh;
}

.tab-style {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  margin-bottom: 20px;
}

/* 국내/해외*/
.deliver {
  position: relative;
}

.deliver-type {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.deliver-type li a {
  font-size: 16px;
  font-weight: 500;
  color: #a7a7a7;
}

/* 활성화된 탭 스타일 */
.deliver-type li.active a {
  color: #000;
  font-weight: 600;
}

/* 장바구니 */
.deliver-content {
  padding: 80px 0;
  text-align: center;
}

.deliver-content p {
  font-size: 12px;
}

/* 메인페이지로 돌아가기 */
.deliver-content a {
  display: inline-block;
  font-size: 12px;
  margin-top: 50px;
  text-decoration: underline;
}

/******************************** 미디어쿼리 ********************************/
@media (max-width: 1024px) {
  .cartsec {
    padding: 80px 0;
  }
}

@media (max-width: 750px) {
  .cart-part {
    padding: 0 20px;
  }

  .tab-style {
    flex-direction: column;
  }

  .deliver-type li a {
    font-size: 14px;
  }
}

/******************************** 하단 ********************************/
.footer {
  display: block;
  position: relative;
  height: auto;
}

.footer-group {
  position: relative;
  border-top: 1px solid #000;
  margin: 0 20px;
  padding: 100px 0 40px;
}

/* strong */
.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

/* company */
.company {
  position: relative;
  display: flex;
  flex-direction: column;
  word-break: keep-all;
}

.company p {
  font-size: 12px;
  line-height: 1.5;
}

/* customer */
.customer {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.customer-list {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  gap: 10px;
}

/* info */
.info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.info-list {
  font-size: 12px;
  line-height: 1.4;
}

/* infinite */
.infinite {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.infinite-area {
  display: flex;
  font-size: 5vw;
  width: max-content;
  animation: infinite-ani 50s linear infinite;
}

@keyframes infinite-ani {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.infinite-area span {
  font-weight: bold;
  line-height: 1;
}
